nav
    ul
        li File
            ul
                li Open...
                li Save
                li Save As...
        li Edit
            ul
                li Cut
                li Copy
                li Paste
        li Help
            ul
                li About...
                li Donate...